/* fadeIn animation */
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* fadeOut animation */
@-moz-keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
    }
}
@-webkit-keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
    }
}
